.navbar {
  padding: 10px 40px;
  /* padding-top: 5px; */
  background-color: #1E2028;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.logo {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
}
.hamburger {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  gap: 16px;
}
.line1 {
  background-color: #fff;
  width: 56px;
  height: 4px;
}
.line2 {
  background-color: #fff;
  width: 28px;
  height: 4px;
}
.line3 {
  background-color: #fff;
  width: 56px;
  height: 4px;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 10px;
  }
}
