.team_section {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* padding: 70px; */
  padding-top: 20px;
  background-color: #1e1e1e;
}
.heading {
  color: #469697;
  font-size: 96px;
  font-weight: 600;
  color: #ffffff;
  /* width: 60%; */
}
.red {
  color: #f32053;
}
.para {
  color: #ffffff;
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 95px;
  padding: 0 100px;
}
.team {
  /* margin: 0 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 80px; */
}
.heading2 {
  margin: 50px 0 100px 0;
  color: #fff;
  font-size: 96px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .heading {
    font-size: 40px;
  }
  .para {
    padding: 20px;
    font-size: 16px;
  }
  .heading2 {
    font-size: 40px;
  }
}
