.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  background-color: #183147;
  /* border-radius: 100px 100px 0 0; */
}
.footer {
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 40vh;
}
.linker {
  display: flex;
}
.logo {
  color: #ddf0a7;
  font-size: 40px;
  font-weight: 600;
}
.menu,
.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin: 0 80px;
}
.footer_links {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 2px;
  gap: 20px;
}
.social {
  margin-top: 24px;
  align-self: flex-start;
}
.social_links {
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer_ruler {
  width: 100vw;
  margin: auto;
  height: 2px;
  background-color: aliceblue;
}
@media screen and (max-width: 768px) {
  .footer_container {
    height: auto;
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    height: auto;
    padding: 0 30px;
  }
  .menu,
  .social {
    font-size: 16px;
    margin: 20px;
    white-space: nowrap;
  }
  .linker {
    flex-direction: row;
  }
  .social_links {
    flex-wrap: wrap;
  }
}
